/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  text-align: center;

}

button{
  margin-top: 20px;
}

.simp{
  margin-top: 70px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
